body {
    text-align: center;
}

.top-nav {
    height: 90px;
    background-color: rgb(44, 62, 80);
}

.color-fluid {
    background-color: rgb(26, 188, 156);
    color: white;
}

.fl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smile {
    background-color: lightsteelblue;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

footer {
    background-color: rgb(58, 84, 109);
    color: white;
}

.copyright {
    background-color: rgb(44, 62, 80);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

li {
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;  
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.no-box {
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #aaa;
}

.no-box:focus {
    box-shadow: none;
    border-bottom: 1px solid #aaa;

}

.no-box:focus + label {
    color: rgb(26, 188, 156);

}


