/* utility classes  */
.color-fluid {
    background-color: #1abc9c;
    color: white;
}
h1 {
    padding-top: 24px;
}
.fl {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {    
    padding: 100px 0;
    color:#2c3e50;
}
/* NAV  */
nav {
    width: 100%;
}
.custom-navbar {
    background-color: #345;
    padding-top: 20px;
    padding-bottom: 20px;
}
.no-grow {
    flex-grow: 0;
}
.navbar-dark .navbar-toggler {
    border-color: white;
}
a.navbar-brand {
    font-size: 35px;
    font-weight: bold;
}
nav .navbar-nav .nav-item a {
    font-size: 20px;

}

/* HEADER  */
header {
    padding-top: 150px;
    padding-bottom: 50px;
}
header img {
    width: 250px;
}
header h1 {
    font-size: 50px;
    font-weight: bold;
}

.container-col-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i.fa-star {
    font-size: 30px;
    vertical-align: middle;

}
.bar::after,
.bar::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: white;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

/* MAIN  */
.container-img img {
    width: 100%;
    border-radius: 20px;
}
.container-img {
    margin-bottom: 24px;
}

section.container .bar::after,
section.container .bar::before {
    background-color: #2c3e50;
}

.bar {
    margin-bottom: 24px;
}


/* FOOTER  */
footer {
    background-color: #345;
    color: white;
    width: 100%;
    text-align: center;
}
.footer-item {
    padding-top: 50px;

}

ul.social-net {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.social-net li {
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;  
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

span.green-link a {
    text-decoration: none;
    color:#1abc9c;
}

.copyright {
    background-color: #1a252f;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 50px;
    font-size: 14px;
}


/* custom on button and form-input  */
.but-nav a {
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
button.but-nav:hover a{
    color: #1abc9c;
}
button.but-nav:focus {
    box-shadow: none;
}

.no-box {
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #aaa;
}

.no-box:focus {
    box-shadow: none;
    border-bottom: 1px solid #aaa;
}

.no-box:focus + label {
    color: rgb(26, 188, 156);
}

label {
    color: #777;
}

.but-color{
    background-color: rgb(26, 188, 156);
    color: white;
    margin-top: 24px;
}

.but-color:hover {
    background-color: rgb(15, 153, 125);
    color: white;
}
.container-img:hover img  {
    opacity: 20%;
}
.container-img i.fa-plus {
    display: none;
}
.container-img:hover {
    background-color: #1abc9c;
    border-radius: 20px;    
    color: white;
    position: relative;   
}

.container-img:hover i {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 80px;
}

